/* .css-zylse7-MuiButtonBase-root-MuiIconButton-root
{
  color: white !important;
} */
/* .css-83ijpv-MuiTypography-root {
    color: white !important;
} */
.css-byaw66-MuiSvgIcon-root {
    margin-right: 17px !important;
}
.listItemLang {
  color: white !important;
}
.listItemLang p {
  color: white !important;
}
.MuiPaper-root.css-1sozasi-MuiPaper-root-MuiDrawer-paper {
 height: 100% !important;
}